<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2 style="text-align:center;">Registration</h2>
<div style="padding:60px;">
    <form action="register" method="post" >
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter Username"><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="password" name="cpassword" placeholder="Confirm Password"><br>
        <input type="submit">
</form>
</div>

</body>
</html>